
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #30253b;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 20px; 
    margin: 0;
}

h1, h2 {
    margin: 0;
    padding: 10px 0;
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

footer {
    text-align: center;
    background-color: #30253b;
    color: white;
    padding: 20px 0;
    margin-top: 40px;
}

section h3 {
    margin-top: 30px;
    color: #30253b;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #30253b;
    padding-top: 100px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 10;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

.sidebar nav ul li {
    margin: 0;
}

.sidebar nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    transition: background 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: #30253b;
}


main {
    margin-left: 220px;
    padding: 20px;
}
